* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: rgb(14, 127, 14);
	height: 100dvh; /* more info about dvh here: https://web.dev/blog/viewport-units */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}



.container {
			display: flex;
			flex-wrap: wrap;
			align-items: end;
		}
		.container div {
			border-radius: 10%;
	        background-color: rgb(224, 201, 109);
			transition: .2s;
			
		}
