* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: hsl(72deg, 100%, 90%);
	height: 100dvh; /* more info about dvh here: https://web.dev/blog/viewport-units */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	position: absolute;
	top:40px;
}

goback {
	position: absolute;
	top: 20px;
	left: 15px;
	font-family: serif;
	color: grey;
	font-size: 11px;
}

subject { 
	position: absolute;
	top:180px;
	font-family: serif;
	font-size: 24px;
	background-color: gold;
	width:80px;
	height: 220px;
	border-radius: 0px 90px 90px 0px;

}

feature { 
	position: absolute;
	width:12px;
	height: 20px;
	transform: rotate(-40deg);
	background-color: rgb(31, 33, 21);
	top:167px;
	left: 588px;
}