* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: hsl(216deg, 100%, 90%);
	height: 100dvh; /* more info about dvh here: https://web.dev/blog/viewport-units */
	display: flex;
	flex-direction: column;
	align-items: top;
	justify-content: top;
	
	margin: 0;
	height: 100vh;
	
}
.flower {
margin:40px;
  display: flex;
  align-items:normal;
  flex-wrap:wrap;
  justify-content: space-between;
  background-color:yellowgreen;
}

.flower div {
  background-color: #f1f1f1;
  margin: 7px;
  padding: 20px;
  font-size: 30px;
  transition: background-color .3s;
  transition-delay: height 0s, background-color 0.8s;;
  flex-grow: 3;
}

.flower div:hover {
	flex-grow:1;
	background-color:darkolivegreen;
}
